{{!-- /********************************
 * Comments Page for News Scraper
 * 
 * @author Sean Bryan
 * 
 * 2019-07-27
 ********************************/ --}}
<section class="container" id="main-page">
  <section class="row text-center mt-1">
    <div class="col-sm-12" id="header">
      <h1>New Hampshire News Bulleton</h1>
      <h2>Read Free or Die</h2>
    </div>
  </section>

  <h1>made it</h1>
</section>